* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #fff;
}

html, body {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #1F1D1D, #700505);
    background-repeat: no-repeat;
    background-size: cover; /* Estende lo sfondo per coprire l'intera area */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
    margin-left: 1%;
}

ul {
    width: 100%;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

#main-title {
    font-size: 5rem;
    font-weight: bold   ;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 700;

    margin-top: 5%;
    margin-bottom: 5%;

    text-align: center;
    background: linear-gradient(-32deg, #DAC2C2, #ff0000);
    -webkit-background-clip: text; /* Si fa combaciare il background col testo */
    -webkit-text-fill-color: transparent; /* Si imposta il colore del testo a trasparente così da non interferire con la riga precedente */
}

.dropdown-menu {
    width: fit-content;
}

.navbar {
    width: 100%;
    flex: 1;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 8px 12px;
}

.navbar ul li:after {
    content: '';
    width: 0;
    height: 3px;
    background: #cb0404;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.dropdown-toggle {
    border: none;
    background: none;
}

.dropdown-toggle:hover {
    background: none;
    border: none;
}

.dropdown-toggle:active {
    background: none;
    border: none;
}

.dropdown-toggle:focus {
    background: none;
    border: none;
}